---
- name: Install MySQL server
  apt:
    name:
      - mariadb-server
    state: present
  when: ansible_os_family == "Debian"

- name: Ensure MySQL service running
  service:
    name: mariadb
    state: started
    enabled: true
