---
- name: Install Apache2
  apt:
    name: apache2
    state: present
  when: ansible_os_family == "Debian"

- name: Ensure apache enabled and running
  service:
    name: apache2
    state: started
    enabled: true

- name: Enable required Apache modules
  apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - rewrite
  when: ansible_os_family == "Debian"

- name: Deploy virtualhost
  template:
    src: templates/vhost.conf.j2
    dest: /etc/apache2/sites-available/{{ website_name }}.conf
  notify: reload apache

- name: Enable site
  command: a2ensite {{ website_name }}.conf
  args:
    creates: /etc/apache2/sites-enabled/{{ website_name }}.conf
  notify: reload apache
